body,
html {
  /*  background-color: rgba(2, 113, 156, 0.452); */
}
p {
  font-size: small;
}
/* *************************************************app**************************************************************************/
.App {
  padding-left: 10%;
  padding-right: 10%;
}
/*********************************************navbar****************************************************************************/

.navLinks {
  width: 70%;
  /* background-color: salmon;
   */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 30%;
}

.navLinks a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  font-size: larger;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
}
a:hover {
  text-decoration: none;
  color: rgb(88, 34, 34);
}
/***************************************************home/about***************************************************************/

.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../src/logos/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  color: white;
  width: 100%;
  height: auto;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*****************************************text and image that goes over the background image**************************/
.info {
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.info :nth-child(2) {
  align-self: center;
  padding-top: 0rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
}
.info :nth-child(3) {
  align-self: center;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
}
.about img {
  margin-top: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-right: 0rem;
  align-self: center;
}
.about .info img:hover {
  transform: scale(3.5);
}
.about a {
  align-self: center;
}
.mainpage-buttons {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.mainpage-buttons :nth-child(2) {
  margin-left: 1rem;
  width: 7rem;
}
.mainpage-buttons :first-child {
  width: 7rem;
}
.btn-warning {
  width: max-content;
  height: max-content;
  background-color: orange;
  align-self: center;
  margin-top: 0.5rem;
  font-size: small;
  font-style: italic;
}
/***********************************************************intro about me section of the main page***************************************************/
.intro h1 {
  text-align: center;
  padding-top: 1rem;
}

/*****************************************************contact page**********************************/
.contact {
  margin-top: 5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.contact > div > a {
  padding-left: 2rem;
}
.contact h2 {
  color: rgb(36, 10, 10);
}

.contact :nth-child(4) > div {
  padding-top: 1rem;
}
.contact :nth-child(4) div > a {
  padding-left: 1rem;
}
/*****************************************************technologies section**********************************/

.grid-container {
  width: 80%;
  padding-top: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.grid-container > img {
  height: 80px;
  width: 80px;
  border-radius: 1rem;
  box-shadow: grey;
}

.technologies-and-skills h2 {
  text-align: center;
  padding-top: 2rem;
}
.technologies-and-skills h3 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
/*****************************************************projects page**********************************/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 3rem;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.projects h2 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: rgb(36, 10, 10);
}
.card h3 {
  font-weight: 400;
  font-size: large;
  text-align: center;
}
.cards .card img:hover {
  transform: scale(2.2);
}
.card p {
  text-align: justify;
}
.card a {
  background-color: orange;
  width: 5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/**************************************resume *********************************************/
.resume {
  display: flex;
  width: 100%;
}
.left-side {
  background-color: white;
  width: 20%;
  margin-right: 10%;
}
.left-side img {
  height: 10rem;
  width: 10rem;
}
.education ul li:first-child {
  list-style: none;
}
.contacts {
  display: inline-block;
}
.contacts img {
  height: 15px;
  width: 15px;
  margin-right: 0.5rem;
}
.right-side {
  background-color: rgb(14, 30, 41);
  width: 70%;
  color: white;
}
.right-side hr {
  background-color: rgb(102, 35, 35);
  width: 60%;
  margin-left: 0;
}
.experience,
.education {
  display: flex;
  justify-content: space-between;
}
.experience h5,
.education h5 {
  font-weight: 400;
  font-size: small;
}
.experience ul,
.education ul {
  width: 80%;
}
.experience ul > li,
.education ul > li {
  font-size: small;
}
.experience ul li:first-child,
.education ul li:first-child {
  list-style: none;
  font-size: medium;
  text-align: left;
}
.education ul > li {
  list-style: none;
}
.education ul li:nth-child(2) {
  font-size: medium;
}
.hardskills,
.softskills {
  display: flex;
}
.softskills,
.hardskills h5 {
  font-size: medium;
}
.hardskills ul,
.softskills ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  font-size: small;
  width: 85%;
}

/* footer */
.footer {
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
}
/****************************************media query *****************************************************/
@media only screen and (max-width: 600px) {
  /* App  */
  .App {
    padding-left: 2%;
    padding-right: 2%;
  }
  /* nav links */
  .navLinks a {
    color: rgb(7, 7, 7);
    font-size: small;
    padding-right: 2rem;
  }
  /* info section of the main page  */
  .about {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .info {
    width: 80%;
    text-align: center;
  }
  .about img {
    height: 7rem;
    width: 7rem;
  }

  .info :nth-child(3) {
    align-self: center;
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
  }
  .info :nth-child(2) {
    align-self: center;
    padding-top: 0rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
  }
  /* projects */
  .projects h2 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: rgb(36, 10, 10);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 1rem;
  }
  .cards .card img:hover {
    transform: none;
  }
  .card h3 {
    font-size: medium;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    font-size: small;
  }
  /* contact page  */
  .contact h2 {
    font-size: large;
    text-align: center;
  }
  .contact {
    width: 70%;
  }
  /* skills */

  .grid-container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
  .grid-container > img {
    height: 3rem;
    width: 3rem;
    border-radius: 0.1rem;
  }

  .technologies-and-skills h2 {
    font-size: larger;
  }
  .technologies-and-skills h3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: medium;
  }
  .technologies-and-skills :nth-child(5) p {
    font-size: small;
  }
  /* resume  */
  /* left side  */
  .left-side img {
    height: 7rem;
    width: 7rem;
  }
  .left-side {
    background-color: white;
    width: 30%;
    margin-right: 3%;
  }
  .left-side h3 {
    font-size: medium;
  }

  .hardskills,
  .softskills {
    display: flex;
    flex-direction: column;
  }

  .hardskills ul,
  .softskills ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: small;
    width: 100%;
    padding-left: 0%;
  }

  .left-side h5 {
    font-size: medium;
  }
  .left-side h6 {
    font-size: medium;
  }
  .contacts img {
    width: 0.75rem;
    height: 0.75rem;
  }
  .contacts a {
    font-size: x-small;
  }
  /* right side  */
  .right-side h3 {
    font-size: large;
    font-weight: 600;
  }
  .experience,
  .education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .experience ul,
  .education ul {
    width: 100%;
  }
  .experience ul > li,
  .education ul > li {
    width: 100%;
  }
  .experience ul > li:first-child,
  .education ul > li:first-child {
    font-size: small;
    font-weight: 600;
    font-style: italic;
  }
  /* footer */
  .footer {
    flex-direction: column;
  }
}
